<form [formGroup]="formulaire" (ngSubmit)="onSubmit(formulaire.value)">

  <div>
    <label for="nom">
      Nom :
    </label>
    <input id="nom" type="text" formControlName="nom">
  </div>

  <div>
    <label for="Description">
      Description :
    </label>
    <input  required id="Description" type="text" formControlName="description">
  </div>

  <label>Numero semestre :
    <select required formControlName="semestre">
      <option *ngFor="let sem of tousLesSemestres" [ngValue]="sem"> {{sem._numero__semestre}}</option>
    </select>
  </label>

  <button *ngIf="cour.estnouveau" class="button" type="submit">Creer</button>
  <button *ngIf="!cour.estnouveau" class="button" type="submit">Modifier</button>

</form>
